<h1>Dashboard</h1>
<div class="col-10 offset-1 booyah-box">
    <h3>
        <%= @user.email %>
    </h3>
    <div class="center-block">
        <h2 id="box-top"> Your Scorecard</h2>
        <ul id="stats">
            <li>
                <h4>Wins:
                </h4>
            </li>
            <li>
                <h4>Losses:
                </h4>
            </li>
            <li>
                <h4>Draw:
                </h4>
            </li>
        </ul>
    </div>
</div>
<hr>
<div class="col-10 offset-1 booyah-box">
    <h3> Active Games</h3>