<h1>Here is the show page</h1>
<div class="container-fluid">
    <div class="row odd">
        <div class="col-1 offset-2 light">
            <p class="piece">&#9820;</p>
        </div>
        <div class="col-1  dark">
            &#9822;
        </div>
        <div class="col-1 light">&#9821;</div>
        <div class="col-1 dark">&#9819;</div>
        <div class="col-1 light">&#9818;</div>
        <div class="col-1 dark">&#9821;</div>
        <div class="col-1 light">&#9822;</div>
        <div class="col-1 dark">&#9820;</div>
    </div>
    <div class="row even">
        <div class="col-1 offset-2 dark">&#9823;</div>
        <div class="col-1 light">&#9823;</div>
        <div class="col-1 dark">&#9823;</div>
        <div class="col-1 light">&#9823;</div>
        <div class="col-1 dark">&#9823;</div>
        <div class="col-1 light">&#9823;</div>
        <div class="col-1 dark">&#9823;</div>
        <div class="col-1 light">&#9823;</div>
    </div>
    <div class="row odd">
        <div class="col-1 offset-2 light"></div>
        <div class="col-1  dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
    </div>
    <div class="row even">
        <div class="col-1 offset-2 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
    </div>
    <div class="row odd">
        <div class="col-1 offset-2 light"></div>
        <div class="col-1  dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
    </div>
    <div class="row even">
        <div class="col-1 offset-2 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
    </div>
    <div class="row odd">
        <div class="col-1 offset-2 light">&#9817;</div>
        <div class="col-1  dark">&#9817;</div>
        <div class="col-1 light">&#9817;</div>
        <div class="col-1 dark">&#9817;</div>
        <div class="col-1 light">&#9817;</div>
        <div class="col-1 dark">&#9817;</div>
        <div class="col-1 light">&#9817;</div>
        <div class="col-1 dark">&#9817;</div>
    </div>
    <div class="row even">
        <div class="col-1 offset-2 dark">&#9814;</div>
        <div class="col-1 light">&#9816;</div>
        <div class="col-1 dark">&#9815;</div>
        <div class="col-1 light">&#9813;</div>
        <div class="col-1 dark">&#9812;</div>
        <div class="col-1 light">&#9815;</div>
        <div class="col-1 dark">&#9816;</div>
        <div class="col-1 light">&#9814;</div>
    </div>
</div>