<h1>Here is the show page</h1>
<div class="container">
    <div class="row no-gutters odd ">
        <div class="col-1 offset-2 border-top-dark light ">
            <p class="piece">&#9820;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">
                &#9822;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9821;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9819;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9818;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9821;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9822;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9820;</p>
        </div>
    </div>
    <div class="row no-gutters even">
        <div class="col-1 offset-2 dark">
            <p class="piece">&#9823;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9823;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9823;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9823;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9823;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9823;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9823;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9823;</p>
        </div>
    </div>
    <div class="row no-gutters odd">
        <div class="col-1 offset-2 light"></div>
        <div class="col-1  dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
    </div>
    <div class="row no-gutters even">
        <div class="col-1 offset-2 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
    </div>
    <div class="row no-gutters odd">
        <div class="col-1 offset-2 light"></div>
        <div class="col-1  dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
    </div>
    <div class="row no-gutters even">
        <div class="col-1 offset-2 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
        <div class="col-1 dark"></div>
        <div class="col-1 light"></div>
    </div>
    <div class="row no-gutters odd">
        <div class="col-1 offset-2 light">
            <p class="piece">&#9817;</p>
        </div>
        <div class="col-1  dark">
            <p class="piece">&#9817;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9817;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9817;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9817;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9817;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9817;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9817;</p>
        </div>
    </div>
    <div class="row no-gutters even">
        <div class="col-1 offset-2 dark">
            <p class="piece">&#9814;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9816;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9815;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9813;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9812;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9815;</p>
        </div>
        <div class="col-1 dark">
            <p class="piece">&#9816;</p>
        </div>
        <div class="col-1 light">
            <p class="piece">&#9814;</p>
        </div>
    </div>
</div>