@import "bootstrap";

h1 {
    text-align: center;

}

.piece {
    font-size: 10px;
    text-align: center;

}


.container-fluid {
    padding-top: 20%;
    margin: auto;
    border-width: thin;

}

.dark {
    background-color: #C08155;
    width: 60px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-width: thin;

}

.light {
    background-color: #F9D8AE;
    width: 60px;
    height: 80px;
    font-size: 50px;
    border-style: solid;
    border-width: thin;


}




@include media-breakpoint-up(xs) {
    .piece {
        font-size: 20px;
        text-align: center;
        padding-top: 15px;
    }
}

@include media-breakpoint-up(sm) {
    .piece {
        font-size: 40px;
        text-align: center;
        padding-top: 15px;
    }
}

@include media-breakpoint-up(md) {
    .piece {
        font-size: 50px;
        text-align: center;

        padding-bottom: 10px;
        margin-bottom: -10px;
        padding-top: 2px;
    }
}

@include media-breakpoint-up(lg) {

    .piece {
        font-size: 50px;
        text-align: center;

        padding-bottom: 10px;
        margin-bottom: -10px;
        padding-top: 2px;
    }
}

@include media-breakpoint-up(xl) {
    .piece {
        font-size: 100px;
        text-align: center;
        padding-top: 15px;
    }
}