@import "bootstrap";

h1 {
    text-align: center;
}


.piece {

    font-size: 4.5vw;
    text-align: center;
    line-height: 1.7;
    z-index: 100;
    cursor: pointer;

}



.dark {
    background-color: #C08155;
    width: 28px;
    height: 28px;


    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 8.3%;


}

.light {
    background-color: #F9D8AE;
    width: 28px;
    height: 28px;

    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 8.3%;

}